.navbar.navbar-custom {
  background-color: white;
}
.navbar.navbar-custom .navbar-brand{
    font-weight: bolder;
    color: black;
    font-family: cursive; 
    font-size: 25px;
}
.navbar.navbar-custom li .page-scroll{
    font-weight: bolder;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.navbar.navbar-custom li:hover{
    background-color: black;
}
.cover{
    text-align: center;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px;
    font-family: 'Lato', sans-serif;
}

.cover h1{
    font-family: cursive;
    font-size: 50px;
    font-weight: 800;
}
.cover h2{
    font-size: 45px;
    font-weight: 800;
}

.cover h3{
    font-size: 30;
    font-weight: 800;
}

.cover .scroll{
    padding-bottom: 200px;
    padding-top: 30px;
}


.intro-section{
    padding-top: 5px;
    text-align: center;
    background: #fff;
    width: 100%;
    height: 100%;
    background: url("http://www.10wallpaper.com:8080//wallpaper/1920x1080/1304/laptop_room_on_the_desk-Digital_products_HD_widescreen_Wallpaper_1920x1080.jpg") no-repeat center center;
    background-size: cover;
}

.about-section{
    height: 100%;
    padding-top: 65px;
    list-style-position: inside;
    background: url("http://adwyse.de/img/bg/bg-1.jpg") no-repeat center center;
    background-size: cover;
}


.about-section h2{
    color: white;
    text-align: center;
    padding-bottom: 35px;
}

.about-section p{
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}
span.glyphicon{
    font-size: 3em;
}
.projects-section {
    height: 200%;
    padding-top: 65px;
    text-align: center;
     background: url("https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg")no-repeat center center;
    background-size: cover;
}

.contact-section {
    color: white;
    height: 125px;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #2c2c2c;
}


